@import 'marx.css';

 
@font-face {
  font-family: 'office';
  src:  url('fonts/OfficeCodePro-Regular.woff2') format('woff2'),
        url('fonts/OfficeCodePro-Regular.woff') format('woff'),
       url('fonts/OfficeCodePro-Regular.ttf') format('truetype');
}

/*@font-face {
  font-family: 'oswald';
  src:  url('fonts/oswald-bold-webfont.woff2') format('woff2'),
        url('fonts/oswald-bold-webfont.woff') format('woff'),
       url('fonts/oswald-bold-webfont.ttf') format('truetype');
   	font-weight: bold;
    font-style: normal;
}*/


@font-face {
  font-family: 'oswald';
  src:  url('fonts/oswald-bold-webfont.woff2') format('woff2'),
        url('fonts/oswald-bold-webfont.woff') format('woff'),
       url('fonts/oswald-bold-webfont.ttf') format('truetype');
   	font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'libreo';
  src:  url('fonts/LibreBaskervilleOutline-Bold.woff2') format('woff2'),
        url('fonts/LibreBaskervilleOutline-Bold.woff') format('woff'),
       url('fonts/LibreBaskervilleOutline-Bold.eot') format('eot');
   	font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'libre';
  src:  url('fonts/LibreBaskerville-Regular.woff2') format('woff2'),
        url('fonts/LibreBaskerville-Regular.woff') format('woff'),
       url('fonts/LibreBaskerville-Regular.eot') format('eot');
   	font-weight: regular;
    font-style: normal;
}

@font-face {
  font-family: 'oswaldo';
  src:  url('fonts/OswaldOutline-Bold.woff2') format('woff2'),
        url('fonts/OswaldOutline-Bold.woff') format('woff'),
       url('fonts/OswaldOutline-Bold.eot') format('eot');
   	font-weight: bold;
    font-style: normal;
}

*, *:before, *:after {
  box-sizing: border-box;
}

$gutter: 10px;
@lost gutter 20px;
@lost cycle none;
$header-height: 88px;
$platinum: #E3E3E3;
$platinumdark: #585858;
$black: black;
$green: green;
$blue: blue;
$red: red;
html {
font-size: 115%; 
}


body {
	font-family: office;
	font-size: 1rem;
	color: $black;
	background-color: white;   

	line-height: 1.6rem;
   color: $black;
	background-color: white;   
	overflow-x: hidden;
}

button:focus {outline: 0;}
#dokuwiki__top {
	/*lost-utility: clearfix;*/

	height: 0px;
	transition: all 0.5s;
	overflow-y: scroll;
}

#dokuwiki__top.open {
	height: calc(100vh - $header-height);
	lost-utility: clearfix;
} 

#dokuwiki__upper {
	font-size: 0.8rem;
	line-height: 1.5em;
	padding: 5px 10px;
}
#dokuwiki__site {
	margin: 0;
	lost-utility: clearfix;
}

#dokuwiki__top {
	margin: 0;
	lost-utility: clearfix;
}



.site_description {
	lost-column: 3/12;
}
.site_user {
lost-column: 2/12;
}
#dokuwiki__aside {
          /*columns: 5 200px;*/
          lost-column: 10/12;
            column-count: 4;
}


#dokuwiki__aside h3, #dokuwiki__aside a, #dokuwiki__aside h4 {
	    display: block;
    width: 100%;
    margin: 0;
    padding: 20px 0 0 0; 
    height: 50px;
    border: 2px solid black;
    text-align: center;
/*    lost-column: 1/1;*/
    border: 0;
    height: 60px;
    border-bottom: 2px solid black;
    text-align: center;
    break-inside: avoid;

}


#dokuwiki__aside h3 {
/*column-break-before: always;*/
	/*break-before: column;*/
    text-transform: uppercase;
    font-family: 'oswald';
    font-size: 1rem;
    break-before: column;

}

#dokuwiki__aside h3:first-of-type { 
break-before: avoid;
}

#dokuwiki__aside h4 {
	    font-family: 'office';	
	    margin: 3px 0px 3px 0px;
	    font-size: 0.7rem;
    display: block;
}
.level3 {
	display: inline;

}
.level3 p {
margin: 0;
display: inline;
	width: auto;
	/*float: left;*/
}


.level3 {
	display: inline;

}
.level3 p {
margin: 0;
display: inline;
	width: auto;
	/*float: left;*/
}
#dokuwiki__aside hr {
/*display: none;*/
}


#dokuwiki__usertools {
	font-size: 1em;
}
#dokuwiki__usertools ul {
			list-style-type: none;
			padding: 0;
}
#dokuwiki__usertools li:hover {
	color: $black;
	border-color: $black;
}
#dokuwiki__usertools li a {
		display: block;
		text-align: center;
	border: 1px solid $blue;
	padding: 0.15em 0.3em 0.15em 0.3em;
	border-radius: 2px;
	line-height: 1em;
	margin: 0.15em 0;
	color: $blue;
	transition: all 100ms;
}
#dokuwiki__usertools li.user  {
	display: inline;
	border: 0;
	color: $black;
}

#dokuwiki__pagetools {
	font-size: 1em;
}
#dokuwiki__pagetools ul {
			list-style-type: none;
			padding: 0;
}
#dokuwiki__pagetools li a:hover {
	color: $black;
	border-color: $black;
	background: none;
}


#dokuwiki__pagetools li a {
		display: block;
		text-align: center;
	border: 1px solid $blue;
	padding: 0.15em 0.3em 0.15em 0.3em;
	border-radius: 2px;
	line-height: 1em;
	margin: 0.15em 0;
	color: $blue;
	transition: all 100ms;
}
#dokuwiki__pagetools li.user  {
	display: inline;
	border: 0;
	color: $black;
}
#dokuwiki__sitetools {

		font-size: 1em;
}

#dokuwiki__sitetools ul {
	padding: 0;
		list-style-type: none;

}

#dokuwiki__sitetools li {
	display: block;
	border: 1px solid $blue;
	padding: 0.15em 0.3em 0.15em 0.3em;
	border-radius: 2px;
	line-height: 1em;
	margin: 0.15em 0;
	color: $blue;
	transition: all 100ms;

}
#dokuwiki__sitetools li a {
	text-align: center;
		display: block;
	color: inherit;
}

#dokuwiki__sitetools li:hover {
	color: $black;
	border-color: $black;
}

#dokuwiki__header {

	margin: 0;
	position: fixed; /*strange fix chrome*/
	overflow: hidden;
	width: 100%;
	/*border-bottom: 1px solid #000;*/

/*padding: $gutter;*/
	height: $header-height;
	color: $black;
	background-color: white;

	font-size: 1rem;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}
.header_wrapper {
	position: fixed;
	background: white;
	z-index: 1000;
	width: 100%;
}

.header_row {
		lost-flex-container: row;
	height: 60px;
	}

.header_row .sloup {
lost-column: 4/12 flex;
lost-align: middle-left;
}

.headings {
	
	font-size: 1em;

}

.headings h1 {
	margin: 0;
	font-size: 2em; 
	margin: 2px 0 0 12px;
}

.headings h1 a {
	color: $black;
}

.search {
	outline: 0;

	font-size: 0.8em;
}
input:focus {outline: 0;}
input {	outline: 0;}
.search form {
	width: 100%;
	height: 100%;
}
.search > * {
	

}
.search form input {
	width: 70%;
	margin: 10px 0 0 0;
	float:left;
	/*border: none;*/
	/*background-color: grey;*/
	height: 40px
}
.search form button {
width: 30%;
float:left;
	margin: 0;
	border: none;
	font-size: 0.8rem;

}
#menubutton {

	lost-align: middle-right;
	    margin: 0;
    border: none;
}
#menubutton button {
		    margin: 0;
    border: none;
    height: 100%;
 width: 50%;
 font-size: 0.8rem;

}
#menubutton button:hover { 
	
}
#menubutton button:after {
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(gifs/gif2.gif);
	z-index: -1;
	opacity: 0;
	transition: opacity 0.6s;
}
#menubutton button:hover:after{
	opacity: 1;
}


button {
		    margin: 0;
    border: none;
    height: 100%;


}


.btn_secedit button {
	border: 1px solid black;
	z-index: 100;
}

.breadcrumbs {
	width: 100%;
	font-size: 11px;
	line-height: 1.6em;
	padding: 0.5em;
	overflow: hidden;
	color: white;
	background-color: $white;
	border-top: 1px solid $platinum;
}

.breadcrumbs .bchead {
	display: inline;
	color: $platinumdark;
}

.breadcrumbs .bcsep {
	display: none;
}

.breadcrumbs bdi {
/*	display: inline-block;*/
	border: none;
	padding: 0.1em 0.3em 0.1em 0.3em;
	border-radius: 0px;
	line-height: 1em;
	margin: 0.1em 0;
	color: $platinumdark;

}
.breadcrumbs bdi a {
	border: none;
}
.breadcrumbs bdi:hover {

	color: $green;
	border-color: $green;

}
.breadcrumbs bdi a {

	padding: 0;
	border-radius: 2px;
	line-height: 1em;
	margin: 0;
	color: inherit;
}

#dokuwiki__header ul { 
	list-style-type: none;
	font-size: 1em;
}


.wrapper {

}

#dokuwiki__header.stuck {
  position:fixed;
  top:0;
}


/*typography*/

h1 {
	font-family: 'oswald';
	font-style: bold;
	text-transform: uppercase;
	font-size: 5rem;
	line-height: 1;

	border: 0;	
}

.page h1 {
	font-family: 'oswaldo';
	font-style: bold;
	text-transform: uppercase;
	font-size: 8rem;
	line-height: 1;
	letter-spacing: -6px;
	border: 0;
	text-shadow: 4px 3px 9px rgba(255, 255, 255, 1);
}

.page p {
	text-shadow: 4px 3px 9px rgba(255, 255, 255, 1);
}

.wikilink2, .wikilink1 {
	display: inline-block;

	padding: 0.15em 0.3em 0.15em 0.3em;
	border-radius: 2px;
	line-height: 1em;
	margin: 0.15em 0;

	text-shadow: none;
}
.wikilink1 { 
	border: 1px solid $green;
	color: $green;
}


.wikilink2 {
		border: 1px solid $red;
		color: $red;
}

.wikilink1:hover { 

color: white;
background-color: $green;
}

.wikilink2:hover{ 

color: white;
background-color: $green;
}


#dokuwiki__content {
	lost-utility: clearfix;
	background-color: $platinum;
	padding: 150px 0;
}
.page {
	lost-column: 8/12;
	font-family: 'libre';
}

.page p {
	margin-left: calc(99.99% * 2/12);
}


.page h1, {
	margin-left: 10px;
}
#dw__toc {
	position: absolute;
	lost-column: 1/3;
	right: 0;
}



#dokuwiki__footer {
	lost-utility:clearfix;
	width: 100%;
}

.editbutton_section {
	position: relative;
	width: 5%;
	float:right;
	margin: -10%;
}